body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.search-bar {
    margin-top: 1rem;
}

.search-bar input {
    padding: 0.5rem;
    width: 300px;
}

main {
    display: flex;
    padding: 1rem;
}

.recipe-list {
    width: 40%;
    margin-right: 1rem;
    max-height: 80vh;
    overflow-y: auto;
}

.recipe-item {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.recipe-item:hover {
    background-color: #e9e9e9;
}

.recipe-details-container {
    width: 60%;
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}
